main { overflow: hidden; }
/* 박성아 GNB Bar */
/* GNB Bar */

.gnb_nav {
   position: fixed;
   width: 100%;
   z-index: 100;
   top: 0;
   left: 0;
}
 .gnb_nav .nav {
   z-index: 10;
}
 
 /* 배경 블러 효과 */
 .gnb_nav.is-sticky.has-bg::before {
   background-color: rgba(0, 0, 0, 0.2);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
 }
 .gnb_nav::after {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: calc(100% - 1px);
   top: 0;
   left: 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }
 .gnb_nav::before {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
 }
 
 .gnb__nav {
   display: flex;
   justify-content: center;
   padding: 23px 0;
   position: relative;
 }
 .gnb__nav li:nth-child(2), .gnb__nav li:nth-child(3) {
   margin-left: 25px;
 }
 
 .nav__link {
   padding: 0 23px;
   display: block;
   
 }
 .nav__name {
   color: rgb(255, 255, 255);
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 2.25px;
   line-height: 24px;
   opacity: 0.5;
   position: relative;
 }
 .name1 {
   opacity: 1;
 }
 .nav__item a:hover span {
   opacity: 1;
   transition: all .5s;
 }
 
 .gnb__nav .is-active a span::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -25px;
   width: 100%;
   height: 2px;
   opacity: 1;
   background-color: #fff;
 }
 .gnb__nav li a span::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -25px;
   width: 100%;
   height: 2px;
   opacity: 0;
   background-color: #fff;
}


/* 황지원 CSS */
/* ourMovement css  */
.main {
   box-sizing: border-box;
   height: auto;
   display: block;
   word-break: keep-all;
-webkit-font-smoothing: antialiased;
}

/* header 에 넣어야 하는 부분 ??????????? */
/* list navigation */
.lnb {
  padding-bottom: 80px;
  position: fixed;
 bottom: 0;
 width: 100%;
 z-index: 100;
 color: rgb(255,255,255);
 transform: translate3d(0, 0, 0);
 transition: transform 0.4s, -webkit-transform 0.4s;
}
.display_none {
   display: none;
}
.lnb_nav {
margin-top: 35px;
display: flex;
align-items: center;
position: relative;
justify-content: center;
 z-index: 10;
 word-break: keep-all;
 word-wrap: break-word;
}
 .nav_item {
 display: flex;
 align-items: center;
 position: relative;
 }
 .border_1 {display: block;
   position: relative;
   height: 1px;
   background: rgba(255, 255, 255, 0.2);width: 107.75px;}
   .border_2 {display: block;
     position: relative;
     height: 1px;
     background: rgba(255, 255, 255, 0.2);width: 153.16px;}
     .border_3 {display: block;
       position: relative;
       height: 1px;
       background: rgba(255, 255, 255, 0.2);width: 131.9px;
     }
 .nav_link {
     opacity: 1;
   margin: 0 25px;
   line-height: 44.8px;
   font-size: 28px;
   display: block;
   padding: 0 15px;
   font-weight: 700;
   letter-spacing:4.2px;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
   text-decoration: none;
 }
 .nav_link span {
   display: inline-block;
      }
.nav_name_1 { color: rgb(255, 255, 255);}
.nav_name_2 { color:  rgba(255, 255, 255, 0.2);}
.nav_name_3 { color:  rgba(255, 255, 255, 0.2);}

/* 버튼 아이콘 크기 수정 ????????????????????????????/????? */
.btn-guide-arrow {
display: block;
transform: translate3d(-50%, 0, 0);
animation: arrow-down infinite 1.5s;
cursor: pointer;
position: absolute;
bottom: -40px;
z-index: 1;
left: 50%;
 width: 40px;
 height: 40px;
 background-image: url(../../img/button_down_wht.png);
}
   /* Arrow-down 애니메이션 적용 */
@keyframes arrow-down {
 0% {
   -webkit-transform: translate3d(-50%, 0, 0);
           transform: translate3d(-50%, 0, 0); }
 30% {
   -webkit-transform: translate3d(-50%, 20%, 0);
           transform: translate3d(-50%, 20%, 0); }
 60% {
   -webkit-transform: translate3d(-50%, 0, 0);
           transform: translate3d(-50%, 0, 0); } 
         }

  /* brandManifesto page */
.brandManifesto {
 min-height:auto;
 height: auto;
}
 .manifesto_1 {
   padding: 240px 0;
     position: relative;
     overflow: hidden;
     height: 100vh;
     min-height: auto;
 }
   .main_visual {
       height: 100% !important;
       top: 0 !important;
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
   }
     .main_video_d {
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
        .visual_video {
         max-width: 100%;
         border: 0;
         vertical-align: top;
     }
     .main_video_t {
       display: none;
     }
.main_button{
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn_play {
  width: 70px;
   height: 70px;
   background-color: rgba(5, 20, 31, 0.4); 
   border-radius: 50%;
} 
.main_button span {
  font-size: 16px;
  display: block;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 50%);
   color: rgb(255,255,255); 
   white-space: nowrap;
   text-transform: uppercase;
   bottom: -25px;
}
/* 위치수정  */
h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1900px;
  margin: 0 auto;
  text-align: center;
  line-height: 78px;
  z-index: 1;
  bottom: 20%;
  font-size: 60px; 
  font-weight: 700;
  transition: all 0.7s ease-out;
}

/* manifesto_2 page css */
.manifesto_2 {
  position: relative;
   display: block;
  }
.prologe {
  padding :  240px 0;
   position: relative;
   overflow: hidden;
}
.prologe_visual {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
 /* div_video 와 video 가 main1 과 같은 값임 */
 
  .prologe_text {
     text-align: center;
     position: relative;
     color: rgb(255, 255, 255);
     padding: 0 30px;
     z-index: 1;
     font-family: 'KiaSignature', 'sans-serif';
   }
   .text_div {
      display: block;
      opacity: 1;
      word-break: keep-all;
     word-wrap: break-word;
   }
     .txt_strong   {
       text-align: center;
       font-size: 28px;
       font-weight: 700;
       line-height: 44.8px;
       display: block;
       position: relative;
     }
       .text_div strong  {
         font-weight: 700;
       }
    .txt_p {
     opacity: 1;
     visibility: inherit;
     position: relative;
     margin: 0;
     display: block;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-size: 20px;
     font-weight: 100;
     line-height: 32px;
   }      


/* 박유리 CSS */
.hero_2_wrap {
   width: 100%;
   height: auto;
   overflow: hidden;
}

/* Hero 2-1 Brand Story */
.brand_story {
   width: 100%;
   height: auto;
   background-image: url(../../img/hero_2_story.jpg);
   background-size: cover;
   background-attachment: fixed;
   /* 요소가 스크롤될 때 배경 이미지의 스크롤 여부 설정 */
}

.brand_story_title {
   position: relative;
   width: 100%;
   height: 900px;
   padding: 240px 0;
   color: rgb(255, 255, 255);
}

.brand_story_title span {
   position: absolute;
   width: 100%;
   height: 78px;
   bottom: 200px;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   z-index: 1;

   font-family: 'KiaSignature', sans-serif;
   font-size: 60px;
   line-height: 78px;
   font-weight: 700; 
   -webkit-font-smoothing: antialiased;
   word-break: keep-all;
   word-wrap: break-word;  
   text-align: center;
}

.brand_story_text_wrap {
   position: relative;
   width: 100%;
   height: 736px;
   padding: 240px 0;
   color: rgb(255, 255, 255);
   text-align: center;
}

.brand_story_text_wrap::before {
   content:' '; 
   position:absolute; 
   left:0; 
   top:-100%; 
   width:100%; 
   height:100%; 
   background: linear-gradient( 0deg
   , rgba(57, 50, 43, 0.8) 0%, rgba(57, 50, 43, 0.8) 1%, rgba(57, 50, 43, 0) 50%, rgba(57, 50, 43, 0) 100%);
   /* background: -webkit-linear-gradient(bottom
   , rgba(57, 50, 43, 0.8) 0%, rgba(57, 50, 43, 0.8) 1%, rgba(57, 50, 43, 0) 50%, rgba(57, 50, 43, 0) 100%); */
}

.brand_story_text_wrap::after { 
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(57, 50, 43, 0.8);
}

.brand_story_text {
   width: 1898px;
   height: 256px;
   padding: 0 30px;
   position: absolute;
   z-index: 1;
   bottom: 110px;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
}

.brand_story_2 p {
   font-weight: 700;
}

/* Hero 2-2 Brand DNA */
.brand_dna_wrap {
   width: 100%;
   height: 1000px;
   padding: 120px 0;
   background-color: rgb(236, 229, 221);
}
.brand_dna {
   width: 100%;
   display: flex;
   max-width: 100%;
   margin: 0 auto;
}

.brand_dna_img {
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
}


.brand_dna_text_wrap {
   width: 600px;
   height: auto;
   padding: 0 0 0 80px;
}
.brand_dna_text {
   width: 540px;
   height: 512px;
   padding: 0 30px;
}

.brand_dna_text div p {
   letter-spacing: 0.4px;
}

.brand_dna_text div:last-child p {
   font-weight: 700;
}

/* Hero 2-3 Brand Belive */
.brand_belive {
   width: 100%;
   height: auto;
   padding: 240px 0;
   background-image:url(../../img/hero_2_belive.jpg);
   background-size:cover;
   background-attachment: fixed;
   /* 요소가 스크롤될 때 배경 이미지의 스크롤 여부 설정 */
}
.brand_belive_title {
   width: 100%;
   height: 200px;
   
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 0 40px;
   padding: 0 30px;
   color: rgb(255, 255, 255);
   text-align: center;
   position: relative;
   z-index: 100;
}
.brand_belive_title h3 {
   position: sticky;
   top: 0px;
}

.brand_belive_text_wrap {
   width: 100%;
   height: 435px;
   padding: 40px 30px 0;
   color: rgb(255, 255, 255);
   text-align: center;
}

/* Hero 2-4 Brand Understand */
.brand_understand {
   position: relative;
   width: 100%;
   height: 1078px;
   background-color: rgb(246, 242, 237);
}
.brand_understand_img {
   width: 100%;
   position: absolute;
   text-align: center;
   top: -50px;
   left: 50%;
   transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   z-index: 1;
   padding: 0 30px;
}

.brand_understand_text_wrap {
   width: 100%;
   height: 256px;
   padding: 610px 30px 0;
   text-align: center;
}

.brand_understand_text_wrap div:first-child p { 
   font-weight: 700;
}


/* 유수정 CSS */
.main3_0_wrap {
   width:100%;
   /*height:937px; */
   height: auto;
   background-image: url(../../img/127398768akrw.jpg); background-repeat: no-repeat; background-size: cover;
   background-attachment: fixed;
}

.main3_0 { height: 1000px;
   display:flex; justify-content: center;}

.main3_0 span {
   position: absolute;
   font-size: 60px;
   font-weight: 700;
   line-height:78px;
   color:white;
   -webkit-font-smoothing: antialiased;
   padding: 619px 0 240px 0;
   text-align: center;
}
.main3_0_text1, .main3_0_text2 {
   position: relative;
   z-index: 10; }

.main3_0_text1 p {
   color:white;
   font-size: 20px;
   font-weight: 100;
   line-height: 32px;
}

.main3_0_text2 strong {
   color:white;
   font-size: 28px;
   font-weight: 700;
   line-height: 44.8px;
   display:block;
   text-align: center;
   margin-top:15px;
   padding: 0 30px;
}

/* 대망의 백그라운드 그라데이션 */

.main3_0_text_wrap {
   position: relative;
   width: 100%;
   height: 736px; /*임의값*/
   padding: 240px 0;
   color: rgb(255, 255, 255);
   text-align: center;
   }

.main3_0_text2 span {
   /*border-bottom: solid 51px rgb(135, 87, 33) ;*/
}

/* 텍스트 브라운 라인 */

.main3_0_text_wrap::before {
   content:' '; 
   position:absolute; 
   left:0; 
   top:-100%; 
   width:100%; 
   height:100%; 
   background: linear-gradient( 0deg
   , rgba(37, 41, 31, 0.8) 0%, rgba(37, 41, 31, 0.8) 1%, rgba(37, 41, 31, 0) 50%, rgba(37, 41, 31, 0) 100%);   
   }
   
.main3_0_text_wrap::after { 
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(37, 41, 31, 0.8);
   }    

.u-line {
   display: inline-block;
   position: relative; }
   
.u-line::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 22px;
   bottom: 5px;
   left: 0;
   display: inline-block;
   background: #875721;
   -webkit-transform-origin: left;
       -ms-transform-origin: left;
           transform-origin: left;
   -webkit-transform: scale(0, 1);
       -ms-transform: scale(0, 1);
           transform: scale(0, 1);
   -webkit-transition: -webkit-transform 0.5s;
   transition: -webkit-transform 0.5s;
   -o-transition: transform 0.5s;
   transition: transform 0.5s;
   transition: transform 0.5s, -webkit-transform 0.5s;
   z-index: 10000000000; }
   
::before {}
   
.u-line--pale::before {
   background: #c19c72; }
   
.u-line i {
   position: relative; }
   
.u-line.is-line::before {
   -webkit-transform: scale(1, 1);
       -ms-transform: scale(1, 1);
           transform: scale(1, 1); }
   


/* Main3_1*/

.main3_1_wrap { 
   width:100%;
   height:100vh;
   min-height: 1200px; /*임의값임*/ 
   display:flex; 
   align-items: center;
   background-color: #ece5dd; 
   /*opacity:0.85;*/
   margin: 0 auto; 
   padding-top: 300px;}

.mov .main3_1_wrap {
       padding-top: 12rem;
       padding-bottom: 0; }
.mov .main3_1_wrap .main3_1_img {
       -webkit-transform: translateY(-30%);
           -ms-transform: translateY(-30%);
               transform: translateY(-30%); }    

.main3_1_img {
   max-width:700px;
}

.main3_1_img img {
   width: 100%;
   max-width:700px;
   overflow: auto;
}

/* 홈페이지에서 긁어온 코드.main3_1_img {
   -webkit-transform: translateY(-30%);
   -ms-transform: translateY(-30%);
   transform: translateY(-30%);
  }*/

.main3_1_text_wrap {
   width:auto;
   height: auto;
   padding-top:40px; 
   padding-left: 110px;
   padding-right: 30px;
   
}

.main3_1_text {
   align-items: center center;
   width: 510px;
   color: #05141f;
   font-size:20px;
   font-weight:100; 
   line-height:32px; 
   text-size-adjust : 100%; /* 페이지에 있는코드여서 넣음*/
}
.main3_1_text p {
   text-align: left;
}
   


/* Main3_2 */

.main3_2_wrap { 
   width:100%;
   height:100vh; 
   min-height: 849px;
   background-image: url(../../img/127398768kfdl.jpg); background-repeat: no-repeat; background-size: cover;
   overflow: hidden;
}

.main3_2 { 
   padding: 240px 0;
   width:100%;
   height:100%;
   }

.main3_2_box {
   width: 100%; height:auto;
   display:block;
   background-color:rgb(236, 229, 221);
   padding: 120px 110px; 
   max-width: 635px;}

.main3_2_div {  
       padding: 0 30px;
       font-size:20px;
       text-align: left;
   }
.main3_2_div p {
   font-size: 20px;
   line-height: 32px;
   width: 100%;}


/*.main3_2 { padding-top:130px; padding-bottom:90px;}*/
/* 이미지가 margin 60만큼 아래로 이동 */


/* MAIN 3_3 */

.main3_3 { width:100%;
   max-height: 100vh;
   min-height: 902px;
   position:relative;
}

.main3_3 video { max-width:100%;
   height:100%;
   object-fit: cover;}

.main3_3_video { 
   position:relative;
   max-width:1060px;
   top:150px;
   object-position: center;
   margin: -1080px auto 0 ;
   overflow-x: hidden;
}

.main3_3_video video {
   width: 100%;
   height: 100%;
   max-width: 1060px;
}

/* .main3_3_play_div {
   width:100%;
   height:calc(100% - 95px);
   z-index: 10;
} */

.main3_3_play {
   display: block;
   /* width: 100%;
   height: 100%; */
   position: absolute;
   top: calc(50% - 76px) ;
   left: calc(50% - 48px);
}
.main3_3_play p { /*더 보기*/
   /*align-items: left;*/
   text-align: center;
   font-size: 15px;
   color:white;
   padding-top: 10px;
}
/* .main3_3_play_div { display: flex;
flex-direction: column;
justify-content: center;} */

.main3_3_play_btn {
   width: 66px;
   height: 66px;
   vertical-align: center;
}


.main3_3_video_text {
   width:100%;
   display:flex;
   justify-content: space-between;
   margin-top:50px;
}

.main3_3_video_text p { 
   color:#414141;
   -webkit-font-smoothing: antialiased; }

.main3_3_video_text :nth-child(1) {
   font-size:28px;
   font-weight: 700;
   line-height:44.8px;
   -webkit-font-smoothing: antialiased;
}
.main3_3_video_text :nth-child(2) {
   font-size:18px;
   font-weight: 100;
   line-height:28.8px;
   -webkit-font-smoothing: antialiased;
}


/* Tablet Ver. */
@media screen and (max-width:960px) {
   /* 박성아 */
   /* 메뉴의 폰트 사이즈가 변화됨 */
   .nav__name {
      font-size: 13px;
      letter-spacing: 1.95px;
      line-height: 20px;
   }

   /* gnb 메뉴의 위아래 여백이 줄어듬 */
   .gnb__nav {
      padding: 15px 0;
   }
   /* GNB의 하단 BORDER가 사라짐 */
   .gnb__nav .is-active a span::before {
      display: none;
   }
   .gnb__nav li a span::before {
      display: none;
   }
      /* 각 gnb 메뉴의 간격이 줄어듬 */
   .nav__link {
      padding: 0 17.5px;
   }


   /* 황지원 */
   /* ourMovement css  */
.ourMovement {
   height: auto;
 }
 
 /* list navigation */
 .lnb{  padding-bottom: 45px;}
 
 .lnb_nav {
   /* margin-top: 35px; */
     margin-top:25px
  }
  /* .nav_item {} */
 .border_1 {   width:64.71px;}
 .border_2 {  width: 75.338px;}
 .border_3 {width: 75.338px;}
 
 .nav_link {
   margin: 0 auto;
   font-size: 13px;
   letter-spacing: 1.95px;
   line-height: 20.8px;
 }
 .nav_name_1 {
   display: inline-block;
 }
  .btn-guide-arrow {
   /* width: 40px;
    height: 40px; */
     width: 20px;
     height: 20px;
  }
 
  /* brandManifesto page */
 .manifesto_1 {
     height: 100vh;
     min-height: auto;
     padding : 120px 0;
 }
 .visual_video {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
 }
 .btn_play {
    width: 50px;
     height: 50px;
 } 
 .main_button span {
   display: none;
 }
 h1 {
     width: 100%;
     font-size: 40px;
     max-width: 300px;
     line-height: 52px;
 }
 
 /* manifesto_2 page */
   .prologe {
     padding : 120px 0;
   } 
     .prologe_visual {
         height: 140%;
         top: -20%;
      }  
    /* video : main 1 과 같은 값 
    tablet 버전도 같은 값*/
 .prologe_text {
   text-align: left;
 }
   .txt_strong   {
     text-align: left;
     font-size: 22px;
     z-index: 1;
     line-height :35.2px;
   }
  .txt_p {
   font-size: 16px;
  line-height: 25.6px;
  }      



   /* 박유리 */
   /* Hero 2-1 Brand Story */
   .brand_story_title {
      padding: 120px 0;
   }
   .brand_story_title span {
      width: 300px;
      height: 104px;
      font-size: 40px;
      line-height: 52px;
   }

   .brand_story_text_wrap {
      height: 440px;
      padding: 120px 0;
      text-align: left;
   }
   
   .brand_story_text {
      width: 1838px;
      height: 256px;
      bottom: 60px;
      left: 0;
      -webkit-transform: translate(0, 0);
   }

   /* Hero 2-2 Brand DNA */
   .brand_dna_wrap {
      height: 1100px;
   }
   .brand_dna {
      max-width: 500px;
      display: block;
      margin: 0;
   }

   .brand_dna_img {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      -webkit-box-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: flex-start;
      align-items: flex-start;
   }

   .brand_dna_img img {
      width: 100%;
      max-width: 400px;
   }
 
   .brand_dna_text_wrap {
      width: 100%;
      height: auto;
      padding: 40px 0 0;
      text-align: left;

   }
   .brand_dna_text {
      width: 100%;
      height: auto;
   }

   /* Hero 2-3 Brand Belive */
   .brand_belive {
      padding: 120px 0 300px;
   }

   .brand_belive_title {
      height: 300px;
      justify-content: flex-start;
      margin: 0 0 50px;
      text-align: left;
   }
   .brand_belive_title h3 span {
      display: block;
   }

   .brand_belive_text_wrap {
      height: 250px;
      text-align: left;
   }

   .br_2 { display:  none; }

   /* Hero 2-4 Brand Understand */
   .brand_understand {
      height: 725px;
   }
   .brand_understand_img {
      top: -130px;
   }

   .brand_understand_text_wrap {
      padding: 420px 30px 0;
      text-align: left;
   }


   /* 유수정 */
   .main3_0 span {
      width: 300px;
      height: 104px;
      font-size: 40px;
      line-height: 52px;
      z-index: 10;
   }
   .main3_0_text1 p {
      font-size: 16px;
      line-height: 25.6px;
      padding: 0 30px;
  }
  
  .main3_0_text2 strong {
      font-size: 22px;
      line-height: 35.2px;
      text-align: left;
  }
  .main3_0_text_wrap {
      text-align: left;
  }

      
  .main3_1_img {
      max-width:400px;
  }

  .main3_1_img img {
      width: 100%; 
      padding-right: 10%;
      max-width:400px;
  }

  .main3_1_wrap {
      display:block;
      flex-direction: column;
      justify-content: flex-start;
  }
  .main3_1_text_wrap {
      height: auto;
      padding: 0 40px;
      padding-top:40px; 
  }

  .main3_2 { padding-right: 10%;}
  .main3_2_box {
      padding: 75px 0; 
      font-weight:700;
      max-width: 400px;
      margin-right: 10%;
      height:auto;
  }
  .main3_2_div {  
      padding: 0 auto;
  }
  .main3_2_div p {
      font-size: 16px;
      line-height: 25.6px;
  }

/*    .main3_2_box {
  
      padding: 120px 110px; 
      line-height: 32px; letter-spacing: 0.4px; 
      font-size:20px; font-weight:700;
      text-align: left;
      height:336px;
      width: 634px;}*/

  .main3_3_play {
      top: calc(50% - 108px);
      left: calc(50% - 33px);
  }
  .main3_3_play_wrap p {display: none;}

  .main3_3_video_text {
      flex-direction: column;
      align-items: left;
      margin-top:0;
  }
  .main3_3_video_text :nth-child(1) {
      font-size:24px;
      font-weight: 400;
      line-height:38.4px;
      padding: 0 30px;
      margin-top: 40px;
  }
  .main3_3_video_text :nth-child(2) {
      font-size:14px;
      line-height:22.4px;
      padding: 0 30px;
      margin : 14px 0;
  }

}

@media only screen and (max-width: 565px) {
  
   /* 메뉴의 텍스트가 두줄로 바뀜 */

 .nav__name {
   font-size: 13px;
   letter-spacing: 1.95px;
   line-height: 20px;
   text-align: center;
   display: inline-block;
 }

 .gnb__nav {
   padding: 15px 0;
 }
 /* GNB의 하단 BORDER가 사라짐 */
 .gnb__nav .is-active a span::before {
   display: none;
 }
 .gnb__nav li a span::before {
   display: none;
 }
}

/* Mobile Ver. */
@media screen and (max-width:415px) {
   /* 황지원 */
   .main {
      min-height: auto;
      }
        .lnb {
          padding-bottom: 45px;
        }
             .lnb_nav {
                 margin-top: 25px;
              }
              .border_1 { width: 0px;}
              .border_2 { width: 18.26px;}
              .border_3 { width: 10.07px; 
              }
              .nav_link {
              margin: 0 auto;
              font-size: 13px;
              letter-spacing:  1.95px;
              line-height: 20.8px;
              }
           .main_button{
            top: 40%;
           }


   /* 박유리 */
   /* Hero 2-1 Brand Story */
   .brand_story {
      background-size: cover;
      background-attachment: fixed;
      background-image: url(../../img/hero_2_story_m.jpg);
   }

   .brand_story_title {
      height: 812px;
   }

   .brand_story_text_wrap {
      height: 590px;
      padding: 120px 0;
   }
   
   .brand_story_text {
      width: 375px;
      height: 350px;
      bottom: 25%;
   }

   /* Hero 2-2 Brand DNA */

   .brand_dna_img img {
      padding-right: 10%;
   }

   .brand_dna_text_wrap {
      padding: 40px 30px 0 ;
   }
   .brand_dna_text {
      padding: 0;
   }

   /* Hero 2-3 Brand Belive */
   .brand_belive {
      padding: 120px 0 150px;
   }

   .brand_belive_title {
      height: 350px;
      margin: 0 0 50px;
      text-align: left;
   }

   .brand_belive_text_wrap {
      height: 450px;
      padding: 0 30px 0;
      text-align: left;
   }

   /* Hero 2-4 Brand Understand */
   .brand_understand {
      height: 600px;
      padding: 120px 0 0 0;
   }
   .brand_understand_img {
      top: -90px;
   }

   .brand_understand_text_wrap {
      padding: 100px 30px 0;
   }
   /* 유수정 */
   .main3_0 {
      height: 700px;
   }

   .main3_1_text_wrap {
      width: 390px;
      padding: 40px 30px 0;
   }
   .main3_1_text {
      width: 100%;
      padding: 0;
   }

}